<% form_for @photo, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
	<p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.label :parent_type %><br />
    <%= f.text_field :parent_type %>
  </p>
  <p>
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </p>
  <p>
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
