<% title "Photo" %>

<div class="title">
  <%=h @photo.title %>
</div>

<div class="photo_main">
<%= image_tag @photo.photo.url(:large) %>
</div>
<span class="by-line">Uploaded By: <%=h @photo.owner.username %></span>


<p>
  <%= link_to "Edit", edit_photo_path(@photo) %> |
  <%= link_to "View All", photos_path %>
</p>
