<% title "Photo" %>

<p>
  <strong>Parent:</strong>
  <%=h @photo.parent_id %>
</p>
<p>
  <strong>Parent Type:</strong>
  <%=h @photo.parent_type %>
</p>
<p>
  <strong>Owner:</strong>
  <%=h @photo.owner_id %>
</p>
<p>
  <strong>Photo File Name:</strong>
  <%=h @photo.photo_file_name %>
</p>
<p>
  <strong>Photo Content Type:</strong>
  <%=h @photo.photo_content_type %>
</p>
<p>
  <strong>Photo File Size:</strong>
  <%=h @photo.photo_file_size %>
</p>
<p>
  <strong>Photo Updated At:</strong>
  <%=h @photo.photo_updated_at %>
</p>
<p>
  <strong>Title:</strong>
  <%=h @photo.title %>
</p>

<p>
  <%= link_to "Edit", edit_photo_path(@photo) %> |
  <%= link_to "View All", photos_path %>
</p>
